.wrapper {
  flex-basis: 60rem;
  color: var(--text-secondary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 4rem;
  letter-spacing: 2rem;
  color: #fafafa;
}

.main {
  margin: 3.2rem 0;

  & > * {
    background-color: var(--todo-bg-color);
    box-shadow: var(--shadow);
    border-radius: 5px;
  }
}

.footer {
  text-align: center;
  font-size: 1.2rem;
}